<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Términos y Condiciones de Servicio</title>
    
    <!-- Favicon -->
    <link rel="icon" href="/static/img/favicon.bazar.ico" />


    <nav>
      <div>
        <a href="/"><span>BazarSur</span></a>
      </div>
    </nav>
    <style>
      body {
        margin: 0;
        font-family: Inkston Brush; 
        color: #eee;
        padding: 20px;
        color: #003bff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(/static/img/logo.jpeg)
      }
      h1 {
        color: #004bff;
        font-weight: bold;
      }
      h2 {
        color: #003bff;
        margin-top: 30px;
        font-weight: bold;
      }
      p {
        color: #009bff;
      }
      strong {
        color: #009bff;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Términos y Condiciones de Servicio</h1>

    <p><strong>Última actualización:</strong> 30/03/2024</p>

    <p>
      Por favor, lea estos Términos y Condiciones ("Términos", "Términos y
      Condiciones") cuidadosamente antes de utilizar el servicio de restauración
      de BazarSur (el "Servicio") operado por BazarSur ("nosotros", "nos" o
      "nuestro").
    </p>

    <h2>1. Aceptación de los Términos</h2>

    <p>
      Al acceder o utilizar el Servicio de cualquier manera, usted acepta estar
      sujeto a estos Términos. Si no está de acuerdo con alguna parte de los
      términos, no podrá acceder al Servicio.
    </p>

    <h2>2. Descripción del Servicio</h2>

    <p>
      El Servicio proporciona restauración de cacerolas, sartenes, biferas y
      otros utensilios de cocina. Esto puede incluir limpieza, reparación,
      reacondicionamiento y otros servicios relacionados.
    </p>

    <h2>3. Calidad del Servicio</h2>

    <p>
      Nos esforzamos por ofrecer servicios de alta calidad, sin embargo, no
      garantizamos que el Servicio cumpla con todas sus expectativas. El
      resultado final puede variar según el estado del utensilio y otros
      factores.
    </p>

    <h2>4. Precios y Pagos</h2>

    <p>
      Los precios de los servicios se indican en nuestro sitio web y están
      sujetos a cambios sin previo aviso. Los pagos se deben realizar de acuerdo
      con los términos especificados en el sitio web o acordados en el momento
      de la contratación del servicio.
    </p>

    <h2>5. Entrega y Devoluciones</h2>

    <p>
      Se proporcionará información sobre los plazos de entrega estimados al
      momento de solicitar el servicio. No se aceptarán devoluciones una vez que
      se haya iniciado el proceso de restauración, a menos que se determine lo
      contrario por razones justificadas.
    </p>

    <h2>6. Propiedad del Utensilio</h2>

    <p>
      El cliente conserva la propiedad del utensilio en todo momento. Sin
      embargo, nos reservamos el derecho de retener el utensilio hasta que se
      hayan completado los servicios contratados y se haya realizado el pago
      correspondiente.
    </p>

    <h2>7. Responsabilidad del Cliente</h2>

    <p>
      El cliente es responsable de proporcionar información precisa y completa
      sobre el estado del utensilio. No nos hacemos responsables de daños
      resultantes de la falta de información precisa proporcionada por el
      cliente.
    </p>

    <h2>8. Propiedad Intelectual</h2>

    <p>
      Todo el contenido y materiales disponibles en el Servicio, incluyendo,
      pero no limitado a, texto, gráficos, logotipos, imágenes, videos y
      software, están protegidos por derechos de autor y otras leyes de
      propiedad intelectual.
    </p>

    <h2>9. Cambios en los Términos y Condiciones</h2>

    <p>
      Nos reservamos el derecho de modificar o reemplazar estos Términos en
      cualquier momento. Si se realizan cambios importantes, se hará un esfuerzo
      razonable para proporcionar aviso previo.
    </p>

    <h2>10. Contacto</h2>

    <p>
      Si tiene alguna pregunta sobre estos Términos y Condiciones, por favor
      contáctenos en
      <a href="mailto:correo@empresa.com">bazarsur@gmail.com</a> o a través de
      nuestro sitio web.
    </p>

    <p>
      Al utilizar nuestro Servicio, usted acepta estar sujeto a estos Términos y
      Condiciones. Si no está de acuerdo con alguno de los términos, no utilice
      nuestro Servicio.
    </p>
    
    <!-- Pie -->
    <footer class="footer"> 
      <div class="logo">
          <img src="/static/img/logo.jpeg" alt="logo" class="logo">
      </div>
      <ul class="social-icon">
          <li>
              <a href="#" class="icon"><img src="/static/img/logofb.png" alt=""></a>
          </li>
          <li>
              <a href="#" class="icon"><img src="/static/img/logoig.png" alt=""></a>
          </li>
          <li>
              <a href="#" class="icon"><img src="/static/img/logowpp.png" alt=""></a>
          </li>
          <li>
              <a href="#" class="icon"><img src="/static/img/logoyoutube.png" alt=""></a>
          </li>
      </ul>
      <ul class="menu">
          <li><a href="" class="menu-icon">Inicio</a></li>
          <li><a href="" class="menu-icon">Equipo</a></li>
          <li><a href="" class="menu-icon">Contacto</a></li>
          <li><a href="" class="menu-icon">Video</a></li>
          <li><a href="" class="menu-icon">Sobre Nosotros</a></li>
      </ul>
      <p class="text">2024 Todos los derechos reservados</p>
  </footer>
  </body>
</html>
